
# Node
node_modules/
# Archivos de configuración de Angular
/angular.json
/package.json
/tsconfig.json
/tsconfig.app.json
/tsconfig.spec.json
/e2e/


# Archivos generados por pruebas
/*.spec.ts

# Carpeta de configuración de IDE (puedes personalizarla para tu IDE específico)
.idea/

# Archivos de respaldo
*.bak
*.backup
*.swp
*~

# Archivos de registro
*.log

# Archivos de compilación de TypeScript
*.js
*.js.map


# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
